.badges {
  list-style-type: none;
  margin: 0;
  padding: 40px 0;
  text-align: center;
  background: white;
  .badge {
    width: 100px;
    height: 75px;
    display: inline-block;
    margin: 0;
  }
}

.badges-wrapper {
  min-height: 75px;
  background: pink;
}
