.card {
  background: white;
  color: black;
  display: flex;
  box-shadow: 0 0 120px rgba(black, 0.2);
  overflow: hidden;
  &-image {
    object-fit: cover;
    object-position: center center;
    width: 34%;
  }
  &-content {
    padding: 90px 135px;
  }
  &-item {
    margin-bottom: 25px;
    a {
      transition: color 0.2s ease-in-out;
      text-decoration: none;
    }
  }
}

@media (max-width: 960px) {
  .card {
    flex-direction: column;
    &-image {
      height: 270px;
      width: 100%;
    }
  }
}

.gradient-background {
  padding: 200px 0;
  margin-top: 80px;
  background-image: linear-gradient(to bottom, rgba(white, 0), white 90%);
}
