.card {
  background: white;
  color: black;
  display: flex;
  box-shadow: 0 0 120px rgba(black, 0.2);
  overflow: hidden;
  &-imageWrapper {
    position: relative;
    width: 34%;
  }
  &-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
  &-content {
    padding: 90px 135px;
    width: 66%;
  }
  &-item {
    margin-bottom: 25px;
    a {
      transition: color 0.2s ease-in-out;
      text-decoration: none;
    }
  }
}

.gradient-background {
  padding: 200px 0;
  background-image: linear-gradient(to bottom, rgba(white, 0), white 90%);
  @media (max-width: 960px) {
    padding: 100px 0;
  }
}

@media (max-width: 960px) {
  .card {
    flex-direction: column-reverse;
    &-imageWrapper {
      display: none;
    }
    &-content {
      padding: 40px;
      width: 100%;
    }
  }
}

@media (max-width: 500px) {
  .card {
    &-content {
      padding: 20px 30px;
    }
    &-item {
      margin-bottom: 0;
    }
  }
}
