.contact {
  .gradient-background {
    margin-top: 0;
    padding-top: 20px;
  }
  @media (max-width: 960px) {
    .card {
      flex-direction: column;
    }
    .card-imageWrapper {
      width: 100%;
      display: block;
    }
    .card-image {
      height: auto;
      max-height: 350px;
      position: relative;
    }
  }
  @media (max-width: 500px) {
    .card-content {
      padding: 40px !important;
    }
    &-image {
      max-height: 230px;
    }
  }
}
