.contact {
  .gradient-background {
    margin-top: 0;
    padding-top: 20px;
  }
  @media (max-width: 960px) {
    .card {
      flex-direction: column;
    }
    .card-image {
      display: block;
    }
  }
  @media (max-width: 500px) {
    .card-content {
      padding: 40px !important;
    }
  }
}
