.footer {
  margin: 50px 20px;
  text-align: center;
  &-linkedin {
    display: inline-block;
    text-decoration: none;
  }
  &-logo {
    display: block;
    margin: 0 auto;
    max-width: 66px;
  }
}
