.ecobee {
  .hero {
    display: flex;
  }
  .hero-chest {
    position: relative;
    transform: translate(0, -50%);
    top: 43%;
    left: 0;
    z-index: 3;
    width: 50%;
  }
  .hero-horizon {
    opacity: 0; /* animated in by gsap */
  }
}

.home {
  width: 50%;
  color: black;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  transform: translateX(40px);
  cursor: url(/assets/wand.png) 11 14, default;
  &-wrapper {
    position: relative;
    max-width: 1400px;
    padding: 0 100px;
    margin: 0 auto;
    display: flex;
  }
  &-overlay {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right,
      rgba(white, 1) 5%,
      rgba(white, 0.9) 40%,
      rgba(white, 0) 60%,
      rgba(white, 0) 100%
    );
    position: absolute;
    top: 0;
    left: 0;
  }
  &-title {
    @extend .h2;
    font-size: 70px;
    line-height: 0;
  }
  &-copy {
    position: relative;
    padding-bottom: 60px;
    padding-left: 50px;
  }
  &-text {
    max-width: 525px;
    font-size: 24px;
    line-height: 44px;
    user-select: none;
    > span > span, > a {
      opacity: 0; /* animated in by gsap */
    }
    a {
      text-decoration: none;
      background-image: linear-gradient(#ebf4fc, #ebf4fc), linear-gradient(black, black);
      background-position: center center, center calc(100% - 2px);
      background-repeat: no-repeat, repeat-x;
      background-size: 80% 0, 100% 2px;
      text-shadow:
        2px 2px 0 white,
        -2px 2px 0 white,
        0 2px 0 white,
        2px -2px 0 white,
        -2px -2px 0 white,
        0 -2px 0 white
        ;
      display: inline;
      transition:
        background-size 0.2s ease-in-out,
        color 0.2s ease-in-out;
      &:hover, &[data-focus-visible-added] {
        background-size: 100% 100%, 100% 2px;
        color: #1292ff;
      }
    }
  }
  &-logos-trigger {
    user-select: none;
    span {
      display: inline-block;
    }
  }
  &-logos img {
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    opacity: 0;
    z-index: 3;
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  25% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: pulse;
}

.motext {
  line-height: 0;
}

.motext-word {
  margin-bottom: 0.2em;
}

.motext-letter--L {
  margin-right: -0.04em;
}

.motext-letter--e {
  margin-right: -0.03em;
  margin-bottom: 0;
}

.motext-letter--m {
  margin-right: 0;
}

.motext-letter--t {
  margin-left: -0.02em;
}

.motext-letter--o {
  margin-right: -0.02em;
}

.motext-letter--f {
  margin-right: -0.01em;
}

.motext-letter--u {
  margin-right: -0.01em;
}

.motext-letter--apostrophe {
  margin-left: -0.03em;
  margin-right: -0.05em;
}

// ================================================
//                Media Queries
// ================================================

@media (max-width: 1250px) {
  .home {
    transform: none;
  }
  .home-title {
    font-size: 50px;
  }
  .home-text {
    font-size: 20px;
    line-height: 38px;
  }
}

@media (max-width: 1000px) {
  .ecobee {
    .hero-horizon {
      height: 30%;
    }
    .hero-chest {
      width: 100%;
      height: 60%;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-5%) !important;
    }
  }
  .home-wrapper {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  .home {
    width: 100%;
    padding-bottom: 100px;
  }
  .home-copy {
    padding: 0;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
  }
  .home-text {
    margin: 0 auto;
  }
  .home-overlay  {
    display: none;
  }
}

@media (max-width: 600px) {
  .home-title {
    font-size: 38px;
  }
  .home-text {
    font-size: 16px;
    line-height: 24px;
    a {
      background-size: 80% 0, 100% 1px;
      &:hover, &[data-focus-visible-added] {
        background-size: 100% 100%, 100% 1px;
      }
    }
  }
  .home-wrapper {
    padding: 0;
  }
  .home {
    padding: 0 40px 100px 40px;
  }
}

@media (max-width: 400px) {
  .home-title {
    font-size: 36px;
  }
  .home {
    padding: 0 40px 100px 40px;
  }
}

/* iphone 5 */
@media (max-width: 320px) and (max-height: 568px) {
  .home {
    padding: 0 40px 80px 40px;
  }
  .home-title {
    font-size: 24px;
  }
  .home-text {
    font-size: 13px;
  }
}
