body {
  overflow-x: hidden;
}

body.scene--loading,
body.scene--intro {
  overflow-y: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.home-background {
  top: 0;
  left: 0;
  width: 200vw;
  height: 100vh;
  position: absolute;
  &:before {
    content: '';
    display: block;
    background-image: linear-gradient(to bottom, rgba(black,0) 0%, rgba(black,1) 92%, rgba(black,0) 100%);
    opacity: 10%;
    width: 100%;
    height: 270px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -300px;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, white, rgba(white, 0));
    width: 50%;
    height: 100%;
  }
  @media (max-width: $bp) {
    &:before {
      opacity: 5%;
      top: 0;
      margin-top: 0;
    }
    &:after {
      display: none;
    }
  }
}

.home {
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  @media (max-width: $bp) {
    flex-direction: column;
  }
}

.home-copy {
  width: 50%;
  padding-left: 10%;
  padding-right: 3%;
  padding-bottom: 60px;
  position: relative;
  z-index: 2;
  @media (max-width: $bp) {
    width: 100%;
    height: 50%;
    padding: 60px;
    text-align: center;
  }
}

.home-chest {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-right: 10%;
  position: relative;
  z-index: 2;
  @media (max-width: $bp) {
    order: -1;
    width: 100%;
    height: 50%;
    padding: 0;
  }
}

.home-canvas {
  width: 100% !important;
  height: 100% !important;
  cursor: pointer;
}

.home-logos-trigger {
  display: inline-block;
  user-select: none;
}

.home-logos img {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  opacity: 0;
  z-index: 3;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  25% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: pulse;
}

/*
body.scene--ecobee {
  transition: background 2s ease-out;
  transition-delay: 0.5s;
  background-color: #5dbe7b;
}
*/

.ecobee-title {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -60%);
  z-index: 1;
  color: #eeff97;
  opacity: 0;
}

.project {
  color: white;
  padding-bottom: 500px;
}

.project-logo {
  margin-bottom: 36px;
}

.project-preview {
  max-width: 510px;
  height: 300px;
  overflow: hidden;
  border: 2px solid black;
  background: #3c648c;
  img {
    margin-top: 150px;
  }
}

.contact {
  padding-bottom: 500px;
}
