$trailSize: 10px;

.loading {
  display: none;
}

.particles {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 2;
}

.trail-item {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: $trailSize;
  height: $trailSize;
  margin-left: $trailSize * -2;
  margin-top: -25px;
  &--1 {
    background: #0dafb7;
  }
  &--2 {
    background: #eabc36;
  }
  &--3 {
    background: #e154ed;
  }
  &--4 {
    background: #62d628;
  }
  &--5 {
    background: black;
  }
}
