.project {
  &-intro {
    max-width: 385px;
    position: relative;
    z-index: 2;
  }
  &-logo {
    margin-bottom: 36px;
  }
  &-preview {
    margin-top: 150px;
    padding-left: 50px;
    position: relative;
    @media (max-width: 960px) {
      margin-top: 80px;
      padding-left: 0;
    }
    &Frame {
      max-width: 510px;
      overflow: hidden;
      border-width: 8px;
      border-style: solid;
      background-color: white;
      box-shadow: 0 0 100px rgba(white, 0.8);
      transform: perspective(1000px) rotateY(10deg);
      margin: 0 auto;
      position: relative;
      img {
        position: absolute;
        top: 0;
        left: 0;
      }
      &:before {
        content: '';
        display: block;
        padding-top: 65%;
      }
    }
  }
  &-previewBackground {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.1);
    width: 1000px;
    height: 600px;
    background-size: cover;
    background-position: center center;
    opacity: 0;
    filter: blur(3px);
    @media (max-width: 960px) {
      transform: translate(-50%, -50%) scale(0.7);
      opacity: 1;
    }
  }
}
