.section {
  color: white;
  &.ecobee {
    background-color: #5dbe7b;
    .hero-title {
      color: #eeff97;
    }
    .project-preview:before {
      background-image: url('/assets/ecobee-background.png');
    }
    .project-previewFrame {
      border-color: #1d7d16;
    }
    .item:hover {
      color: #5dbe7b;
    }
  }
  &.audi {
    background-color: #91251e;
    .hero-title {
      color: #ffe0c2;
    }
    .project-preview:before {
      background-image: url('/assets/audi-background.png');
    }
    .project-previewFrame {
      border-color: #322121;
    }
    .item:hover {
      color: #91251e;
    }
  }
  &.worldvision {
    background-color: #2b6596;
    .hero-title {
      color: #5abed7;
    }
    .project-preview:before {
      background-image: url('/assets/world-vision-background.png');
    }
    .project-previewFrame {
      border-color: #322121;
    }
    .item:hover {
      color: #2b6596;
    }
  }
  &.contact {
    background-color: #ddaf40;
    .hero-title {
      color: #fff264;
    }
    @media (max-width: 960px) {
      .card-image {
        object-position: top center;
      }
    }
  }
}
