*, *:before, *:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html, body {
  margin: 0;
  cursor: url(/assets/wand.png) 11 14, default;
  &.scene--loading, &.scene--intro {
    overflow: hidden;
  }
}

.home-text a,
.card-item a,
.card-content .button,
.hero-scrollArrow,
.footer-linkedin {
  animation: wand 0.6s infinite;
}

@keyframes wand {
  0% {
    cursor: url(/assets/wand-0.png) 11 14, pointer;
  }
  15% {
    cursor: url(/assets/wand-1.png) 11 14, pointer;
  }
  30% {
    cursor: url(/assets/wand-2.png) 11 14, pointer;
  }
  45% {
    cursor: url(/assets/wand-3.png) 11 14, pointer;
  }
  60% {
    cursor: url(/assets/wand-4.png) 11 14, pointer;
  }
  75% {
    cursor: url(/assets/wand-5.png) 11 14, pointer;
  }
  100% {
    cursor: url(/assets/wand-0.png) 11 14, pointer;
  }
}

.container {
  max-width: 1150px;
  padding: 0 100px;
  margin: 0 auto;
  @media  (max-width: 768px) {
    padding: 0 60px;
  }
  @media (max-width: 500px) {
    padding: 0 35px;
  }
}

.grid {
  display: flex;
  justify-content: space-between;
  > *:first-child {
    width: 40%;
  }
  > *:last-child {
    width: 60%;
  }
  @media (max-width: 960px) {
    flex-direction: column;
    & > *:first-child, & > *:last-child {
      width: 100%;
    }
  }
}

.hide {
  display: none !important;
}

@import 'typography';
@import 'home';
@import 'hero';
@import 'project';
@import 'card';
@import 'badges';
@import 'sections';
@import 'button';
@import 'footer';
@import 'contact';
@import 'a11y';
